@font-face {
    font-family: Iranian Sans ;
    src: url(fonts/Iranian\ Sans\ .ttf);
}
.font-fa{
    font-family: Iranian Sans;
}

@font-face {
    font-family: Iranian Sans ;
    src: url(fonts/Iranian\ Sans\ .ttf);
}
.font-en{
    font-family: Iranian Sans;
}